body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    font-family:'Courier New', Courier, monospace;
}


/** {
    border: 1px solid black;
}*/

header, 
footer {
    padding: 8px 160px;
}



header {
    margin: 0;
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px; 
}


.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}


.page-title {
    flex-basis: 0;
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding-bottom: 100px;
}

.title-image {

}

.page-title,
.page-infos,
.page-quote,
.page-sign-up {
    flex-grow:1;
    padding-left: 160px;
    padding-right: 160px;
}

.title-text, .title-image {
    flex: 1;
}

.title-text {
}

.title-image {
    
}

h1, p {
    margin:0;
}

h1 {
    color:#f9faf8;
    font-weight: bolder;
    font-size: 48px; 
}

p {
    color:#e5e7eb;
}

.sign-up-button {
    padding: 8px 32px;
    background-color: #3882F6;
    border-radius: 8px;
    font-weight: bolder;
    color:#f9faf8;
}

.page-quote {
    background-color: #e5e7eb;
    
}

.page-sign-up {

}



footer {
    font-size: 18px;
    color: #e5e7eb;
    padding: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}

ul {
    gap: 16px;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 16px;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;

}