body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}


* {
    border: 1px solid black;
}

header, 
footer {
    padding: 8px 160px;
}



header {
    margin: 0;
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
}

.page-title {
    flex-basis: auto;
    display: flex;
    background-color: #1F2937;
}

.page-title,
.page-infos,
.page-quote,
.page-sign-up {
    flex-grow:1;
    padding: 8px 160px;
}

.page-title {
    display: flex;
    justify-content: space-between;

}

.title-text, .title-image {
    flex: 1;
}

.page-quote {
    background-color: #e5e7eb;
    
}

.page-sign-up {

}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

footer {
    font-size: 18px;
    color: #e5e7eb;
    padding: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}

ul {
    gap: 16px;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 16px;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;

}